<nav class="shadow-sm bg-slate-600 w-full">
  <div class="container mx-auto flex items-center p-2">
    <div class="flex-grow">
      <ul class="flex justify-center space-x-4">
        <li>
          <a
            href="/home"
            class="text-white hover:underline font-Raleway text-sm"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/electronic"
            class="text-white hover:underline font-Raleway text-sm"
            >Electronics</a
          >
        </li>
        <li>
          <a
            href="/homeessential"
            class="text-white hover:underline font-Raleway text-sm"
            >Home Essential</a
          >
        </li>
        <li>
          <a href="/#" class="text-white hover:underline font-Raleway text-sm"
            >Toys</a
          >
        </li>
        <li>
          <a href="/#" class="text-white hover:underline font-Raleway text-sm"
            >Fashion</a
          >
        </li>
        <li>
          <a href="/#" class="text-white hover:underline font-Raleway text-sm"
            >Travel Essential</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
