<section class="checkout-page w-full max-w-6xl mx-auto p-6 mt-0 flex">
  <div class="w-3/5 p-4 mt-24">
    <div class="bg-orange-200 p-2 rounded mb-8 text-center">
      <p class="text-gray-700 text-sm font-semibold font-Rajdhani">
        Contact us for any query related to order: 01874348156
      </p>
    </div>

    <!-- Payment Method Section -->
    <h2 class="text-lg font-semibold text-gray-700 mb-4">Payment Method</h2>
    <div class="flex items-center gap-2 mb-6">
      <div class="flex items-center bg-white rounded-lg">
        <button
          (click)="selectPaymentMethod('cash')"
          class="w-48 bg-gray-100 text-black py-1 text-sm font-semibold rounded flex items-center justify-center"
        >
          Cash on Delivery
          <span
            *ngIf="selectedPaymentMethod === 'cash'"
            class="text-green-500 text-sm ml-2"
            >✔</span
          >
        </button>
        <button
          (click)="selectPaymentMethod('online')"
          class="w-48 bg-gray-100 text-black py-1 text-sm font-semibold rounded flex items-center justify-center"
        >
          Online Payment
          <span
            *ngIf="selectedPaymentMethod === 'online'"
            class="text-green-500 text-sm ml-2"
            >✔</span
          >
        </button>
      </div>
    </div>

    <!-- Billing Details Form -->
    <h2 class="text-lg font-semibold text-gray-700 mb-4">Billing Details</h2>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="mb-2">
        <label class="text-gray-600 text-sm font-semibold">Full Name</label>
        <input
          formControlName="name"
          type="text"
          class="w-full border px-3 py-2 rounded mt-1"
        />
      </div>

      <div class="mb-2">
        <label class="text-gray-600 text-sm font-semibold">Phone</label>
        <input
          formControlName="phone"
          type="text"
          class="w-full border px-3 py-2 rounded mt-1"
        />
      </div>

      <div class="mb-6">
        <label class="text-gray-600 text-sm font-semibold">Full Address</label>
        <input
          formControlName="address"
          type="text"
          class="w-full border px-3 py-2 rounded mt-1"
        />
      </div>

      <div class="mb-2 flex items-start">
        <input type="checkbox" formControlName="terms" class="mr-2 mt-1" />
        <label class="text-gray-600 text-sm">
          I have read and agree to the
          <a href="#" class="text-amber-500 hover:underline"
            >terms and conditions</a
          >
          and
          <a href="#" class="text-amber-500 hover:underline">privacy policy</a>.
        </label>

        <button
          type="submit"
          class="bg-amber-500 w-40 text-white ml-8 mt-1px-1 py-2 rounded"
        >
          {{
            selectedPaymentMethod === "cash"
              ? "Confirm Order"
              : "Proceed to Payment"
          }}
        </button>
      </div>
    </form>
  </div>

  <!-- Right Section -->
  <div class="w-2/5 p-4 bg-gray-100">
    <h2 class="text-lg font-semibold text-gray-900 font-sans mt-24 mb-4">
      Your Order
    </h2>
    <div *ngFor="let item of cartItems" class="flex items-start py-2">
      <img src="{{ item.image }}" class="h-16 w-18 mr-4" />

      <div class="flex flex-col justify-between flex-grow">
        <p class="text-black font-semibold text-sm">{{ item.name }}</p>
        <div class="flex justify-between items-center mt-2">
          <p class="text-black font-sans text-sm">
            Quantity: {{ item.quantity }}
          </p>
          <p class="text-amber-600 font-sans text-sm">
            {{ item.price | currency }}
          </p>
        </div>
      </div>
    </div>
    <div>
      <hr class="my-4 border-gray-300" />
    </div>
    <div class="flex w-full items-center mb-4">
      <input
        type="text"
        placeholder="Coupon Code"
        class="border border-gray-300 rounded px-3 py-2 mr-2 w-4/5"
      />
      <button
        class="bg-amber-500 text-white px-4 py-2 rounded hover:bg-amber-700"
      >
        Apply
      </button>
    </div>

    <div class="flex w-full items-center">
      <div class="flex items-center bg-white p-2 w-1/5">
        <i class="fas fa-star text-yellow-400 mr-1"></i>
        <span class="text-md font-semibold text-sky-400">E</span>
        <span class="font-semibold">-star</span>
      </div>

      <button class="bg-sky-400 text-white px-4 py-2 w-4/5">
        Check Status
      </button>
    </div>
    <div>
      <hr class="my-4 border-gray-300" />
    </div>

    <ng-template #emptyCart>
      <p class="text-gray-600 text-sm">Your cart is empty.</p>
    </ng-template>

    <div class="flex justify-between font-sans mb-2">
      <p>Subtotal:</p>
      <p>{{ subtotal | currency }}</p>
    </div>
    <div class="flex justify-between font-sans mb-2">
      <p>Shipping Fee:</p>
      <p>{{ shippingFee | currency }}</p>
    </div>
    <div class="flex justify-between font-sans mb-2">
      <p>Tax:</p>
      <p>{{ tax | currency }}</p>
    </div>
    <div>
      <hr class="my-4 border-gray-300" />
    </div>
    <div class="flex justify-between font-sans mb-2">
      <p class="font-semibold">Total:</p>
      <p class="font-semibold">{{ total | currency }}</p>
    </div>
  </div>
</section>
